<ons-page>
    <div style="padding: 15px;">
        <ons-search-input id="text" placeholder="Type here" style="width: 100%;" #searchBox  (input)="searchTv(searchBox.value)"></ons-search-input>
    </div>

    <div class="loader" *ngIf="loading">
        Loading
      </div>

    <ons-card *ngFor="let show of tvShows$ | async">
        <div class="title">{{show.name}}</div>
        <div class="content">
            <div class="cardImg" >
                <img src="https://image.tmdb.org/t/p/w500{{show.backdrop_path}}" width="100%">
            </div>
            {{show.overview}}
        </div>
        <div class="footer">
        <ons-row style="text-align: center; margin-top: 10px;">
            <ons-col>
                <ons-icon icon='fa-star' style="font-size: 24px;"></ons-icon>
            </ons-col>
            <ons-col>
                <ons-icon icon='fa-heart' style="font-size: 24px;"></ons-icon>
            </ons-col>
        </ons-row>
        </div>
    </ons-card>
    
</ons-page>